<section class="container">
  <h2 class="title">Timeline</h2>

  <div class="timeline">
    <div *ngIf="posts?.length > 0; else emptyPosts">
      <div class="timeline__content" *ngFor="let post of posts">
        <p class="">{{ post?.content }}</p>
        <div class="timeline__votes">
          <p>Votes {{ post?.upvotes }}</p>
          <span (click)="upvote(post)" class="timeline__votes__icon"><i class="bi bi-arrow-up-circle-fill"></i></span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyPosts>
    <p>Empty timeline!</p>
  </ng-template>
</section>
