<section class="container">
  <h2 class="title">Timeline</h2>
  <table class="table">

    <thead table__header>
      <th class="table__header__content">Date</th>
      <th class="table__header__content">Content</th>
      <th class="table__header__content">Upvotes</th>
    </thead>
    <tbody *ngIf="posts?.length > 0; else emptyPosts">
      <tr class="table__line" *ngFor="let post of posts">
        <td class="table__content">{{ post?.date | date: "short" }}</td>
        <td class="table__content">{{ post?.content }}</td>
        <td class="table__content">{{ post?.upvotes }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #emptyPosts>
    <p>Empty timeline!</p>
  </ng-template>
</section>
